.jumbotron {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.jumbotron img {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}


.page-color {
	background-color: white;
	padding-bottom: 200px;
}


 .pages, .subpages, .sessions, .registrations, .profiles {
 		margin-left: auto;
 		margin-right: auto;
 		width: 1250px;
		padding-top: 40px;
	 
	  padding-bottom: 10em;
	
	  background: #193939;
	  background-image: image-url('pattern-bg6.png');
}


.main h3 {
			margin-top: 30px;
	  	text-align: center;
	  	font-size: 1.7em;
	  	margin-bottom: 30px;
	  }

	

.edit h3  {
			margin-top: 30px;
	  	text-align: center;
	  	font-size: 1.7em;
	  	margin-bottom: 30px;
	  }

.new h3  {
			margin-top: 30px;
	  	text-align: center;
	  	font-size: 1.7em;
	  }

	


.nav {
	padding-top: 20px;
	padding-right: 150px;
	padding-left: 150px;
}


.main h6 {
	  	color: blue;
	  }

.main .tab-content u {
	  margin-right: 10px;
	  }

.main .tab-content li {
	  	background: #F6F6F6;
	  }



.nav .fa fa-envelope {
	color: #555555;
}



.checkbox input[type="checkbox"] {
	margin-left: 0px;
}

.sessions .form-control {

width: 100%;

}



.sessions .panel {

	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;

}


.form-horizontal .control-label {

text-align: left;

}

