.pages nav {
	z-index: 3;
	padding-bottom: 30px;
}


.pages nav ul ul {
	width: 194px;
	font-size: 0.9em;
	display: none;
	z-index: 3;
}

.pages nav ul li:hover > ul {
		display: block;
	}

.pages nav ul {
	font-size: 0.96em;
  z-index: 3;
  background: #F6F6F6;
  border:1px solid #ccc;
  border-width:1px 0;
	padding: 0px;
	margin: 0;
	list-style: none;
	position: relative;
}

.pages nav ul:after {
		content: ""; clear: both; display: block;
		z-index: 3;
	}

.pages nav a:hover {
		width: 100%;
		background: #CCCCCC;
		text-decoration: none;
}


.pages nav ul li {
	margin-left: 40px;
	float: left;
	z-index: 3;

}

.pages nav ul ul {
	position: absolute; top: 100%;
}

.pages nav ul ul li {
		margin-left: 0;
		border-bottom: 1px solid #ccc;
		float: none; 
		position: relative;
		z-index: 3;
	}


.pages nav li {
	font-color: #FFFFD6;
	font-weight: bold;
	z-index: 3;
}


.pages nav a {
		display:inline-block;
    padding:16px;
    color: black;
    }


.pages nav ul ul ul {
	font-size: 1em;
	position: absolute; left: 100%; top:0;
}

/* .nav .fa  {
	padding-left: 7px;
	padding-right: 7px;
} */


.pages .nav .badge {
	margin-left: 7px;
	background-color: red;
}

.pages .nav a {
	
}

.pages .btn {
  text-align: center;
}


.pages nav .fa {
	padding-right: 7px;
	padding-left: 7px;
	color: #555555;
}