<h3>Monthly Report Templates</h3>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
	  <div class="col-md-4">
	  	<div class="panel panel-default">
	  	 <div class="panel-heading"><h4><%= link_to "Phase [100] Template", "#" %></h4></div>
	  	 <div class="panel-body"><p><strong>- When to use?</strong></p>
	  	<p>Migas craft beer trust fund put a bird on it, chillwave photo booth wolf fap skateboard XOXO cred Helvetica direct trade Marfa cliche. Truffaut wolf meditation, skateboard photo booth salvia sriracha readymade Thundercats ugh. Freegan gastropub normcore, pickled drinking vinegar Etsy taxidermy narwhal craft beer raw denim DIY post-ironic farm-to-table whatever iPhone. Distillery McSweeney's flannel synth master cleanse, salvia selvage seitan. Sartorial salvia flexitarian, twee fap cardigan lumbersexual locavore next level.</p>
		   </div>
	     </div>
		</div>
	  <div class="col-md-4">
	  	<div class="panel panel-default">
	  	 <div class="panel-heading"><h4><%= link_to "Phase [200] Template", "#" %></h4></div>
	  	 <div class="panel-body"><p><strong>- When to use?</strong></p>
	  	<p>Migas craft beer trust fund put a bird on it, chillwave photo booth wolf fap skateboard XOXO cred Helvetica direct trade Marfa cliche. Truffaut wolf meditation, skateboard photo booth salvia sriracha readymade Thundercats ugh. Freegan gastropub normcore, pickled drinking vinegar Etsy taxidermy narwhal craft beer raw denim DIY post-ironic farm-to-table whatever iPhone. Distillery McSweeney's flannel synth master cleanse, salvia selvage seitan. Sartorial salvia flexitarian, twee fap cardigan lumbersexual locavore next level.</p>
		   </div>
	     </div>
	  </div>
	  <div class="col-md-4">
	  	<div class="panel panel-default">
	  	 <div class="panel-heading"><h4><%= link_to "Phase [300] Template", "#" %></h4></div>
	  	 <div class="panel-body"><p><strong>- When to use?</strong></p>
	  	<p>Migas craft beer trust fund put a bird on it, chillwave photo booth wolf fap skateboard XOXO cred Helvetica direct trade Marfa cliche. Truffaut wolf meditation, skateboard photo booth salvia sriracha readymade Thundercats ugh. Freegan gastropub normcore, pickled drinking vinegar Etsy taxidermy narwhal craft beer raw denim DIY post-ironic farm-to-table whatever iPhone. Distillery McSweeney's flannel synth master cleanse, salvia selvage seitan. Sartorial salvia flexitarian, twee fap cardigan lumbersexual locavore next level.</p>
		   </div>
	     </div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="contact-padding">
	  <div class="panel panel-default">
		  <div class="panel-heading"><h4>Contact Information</h4></div>
		  <div class="panel-body">
		    <p> To intquire about monthly report submissions, please contact the following employees:</p>
		    <p><strong>Name:</strong> [ INSERT NAME ]</p>
		    <p><strong>Mobile/Internal no.</strong> [ INSERT NO. ]</p>
		    <p><strong>Email:</strong> [ INSERT EMAIL ]</p>
		  </div>
	    </div>
	  </div>
  </div>
</div>



